$body-bg-color: #fff;
$elements-color: #f16718;
$text-color: #7b8bad;
$headings-color: #162542;
$hero-pre-order-btn-color: #fff;
$hero-pre-order-btn-bg-color: #f16718;
$hero-pre-order-btn-hover-bg-color: #ff9b62;
$nav-pre-order-btn-bg-color: #e8eff2;
$nav-pre-order-btn-color: #162542;
$nav-pre-order-btn-hover-bg-color: #162542;
$nav-pre-order-btn-hover-color: #fff;
$h1-font-size: 3rem;
$h1-line-height: 3rem;
$h2-font-size: 2rem;
$h2-line-height: 2.25rem;
$h3-font-size: 1.5rem;
$h3-line-height: 1.75rem;
$text-font-size: 1rem;
$text-line-height: 1.625rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
*/
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
}

body {
  background-color: $body-bg-color;
  color: $text-color;
}

h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

p {
  font-size: $text-font-size;
  line-height: $text-line-height;
}

.pre-order-btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 0.9rem 1rem;
  border-radius: 10px;
}

.nav {
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.nav__ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__btn {
  color: $nav-pre-order-btn-color;
  background-color: $nav-pre-order-btn-bg-color;
}

.nav__btn:hover,
.nav__btn:focus {
  background-color: $nav-pre-order-btn-hover-bg-color;
  color: $nav-pre-order-btn-hover-color;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: "a a a" "b b b" "c d d" "e e e";
  gap: 1.5rem;
  overflow: hidden;
}

.hero {
  grid-area: a;
}

.gallery__picture1 {
  grid-area: b;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(1.5rem);
}

.gallery__picture2 {
  grid-area: c;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-1.5rem);
  display: flex;
  position: relative;
}
.gallery__picture2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.gallery__picture2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $elements-color;
  z-index: -1;
  border-radius: 20px;
}

.gallery__picture3 {
  grid-area: d;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-1.5rem);
}

.product-description {
  grid-area: e;
}

.hero {
  margin: 3.375rem 1.5rem 3.125rem 1.5rem;
}

.hero__heading {
  text-transform: uppercase;
  font-weight: 900;
}

.hero__main-text {
  margin: 2rem 0;
  max-width: 45ch;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero__btn {
  color: $hero-pre-order-btn-color;
  background-color: $hero-pre-order-btn-bg-color;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: $hero-pre-order-btn-hover-bg-color;
}

.hero__release-date {
  font-weight: 700;
  text-transform: uppercase;
}

.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4.6875rem 1.5rem 6.875rem 1.5rem;
  gap: 1.5rem;
}

.product-description__heading {
  text-transform: uppercase;
  font-weight: 900;
  max-width: 15ch;
}

.product-characteristics__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem 1.5rem;
}

.product-characteristics__article__icon {
  background-color: $elements-color;
  width: 4.0625rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.product-characteristics__article__heading {
  margin: 3rem 0 1.5rem 0;
  text-transform: uppercase;
  font-weight: 900;
}

.product-characteristics__article__text {
  max-width: 50ch;
}

footer {
  margin-bottom: 3.125rem;
}

footer > p {
  text-align: center;
}

@media (min-width: 768px) {
  .nav {
    margin: 2.5rem 2.5rem 0 2.5rem;
  }

  .pre-order-btn {
    padding: 1rem 1.5rem;
  }

  .grid-wrapper {
    display: grid;
    grid-template-areas: "a a b b" "c d d d" "e e e e";
    gap: 1rem;
  }

  .hero {
    margin: 3.875rem 0 3.75rem 0;
    max-width: 80%;
    grid-area: a;
    .hero__main-text {
      max-width: 40ch;
    }
  }

  .gallery__picture1 {
    grid-area: b;
    display: flex;
    transform: translateX(0);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery__picture2 {
    grid-area: c;
  }

  .gallery__picture3 {
    grid-area: d;
  }

  .product-description {
    grid-area: e;
    margin: 4.5rem 2.5rem 8.875rem 2.5rem;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    .product-description__main-text {
      max-width: 45ch;
    }
  }
  .product-characteristics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 4.5rem 2.5rem 8.875rem 2.5rem;
    .product-characteristics__article {
      aspect-ratio: 1;
      align-items: start;
      text-align: left;
    }
    .product-characteristics__article__text {
      max-width: 31ch;
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    max-width: 80%;
    margin: 1.5rem auto;
  }

  main {
    max-width: 80%;
    margin: 0 auto;
  }
  .grid-wrapper {
    display: grid;
    grid-template-areas: "a a b b" "c d d e";
    gap: 1rem;
  }

  .hero {
    grid-area: a;
  }

  .gallery__picture1 {
    grid-area: b;
  }

  .gallery__picture2 {
    grid-area: c;
  }

  .gallery__picture3 {
    grid-area: d;
  }

  .product-description {
    grid-area: e;
  }

  .product-characteristics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .product-characteristics__article {
      aspect-ratio: 1;
      align-items: start;
      text-align: left;
    }
  }
}
