*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
*/
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #162542;
}

body {
  background-color: #fff;
  color: #7b8bad;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
}

.pre-order-btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 0.8rem 0.9rem;
  border-radius: 10px;
}

.nav {
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.nav__ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__btn {
  color: #162542;
  background-color: #e8eff2;
}

.nav__btn:hover,
.nav__btn:focus {
  background-color: #162542;
  color: #fff;
}

.hero {
  margin: 3.375rem 1.5rem 0 1.5rem;
}

.hero__heading {
  text-transform: uppercase;
  font-weight: 900;
}

.hero__main-text {
  margin: 2rem 0;
  max-width: 45ch;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero__btn {
  color: #fff;
  background-color: #f16718;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #ff9b62;
}

.hero__release-date {
  font-weight: 700;
  text-transform: uppercase;
}

.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4.6875rem 1.5rem 6.875rem 1.5rem;
  gap: 1.5rem;
}

.product-description__heading {
  text-transform: uppercase;
  font-weight: 900;
  max-width: 15ch;
}

.product-characteristics__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem 1.5rem;
}

.product-characteristics__article__icon {
  background-color: #f16718;
  width: 4.0625rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.product-characteristics__article__heading {
  margin: 3rem 0 1.5rem 0;
  text-transform: uppercase;
  font-weight: 900;
}

.product-characteristics__article__text {
  max-width: 50ch;
}

footer {
  margin-bottom: 3.125rem;
}

footer > p {
  text-align: center;
}

@media (min-width: 768px) {
  .grid-wrapper {
    display: grid;
    grid-template-areas: "a b" "c d" "e e";
    gap: 1rem;
  }
  .hero {
    grid-area: a;
  }
  .gallery__picture1 {
    grid-area: b;
  }
  .gallery__picture2 {
    grid-area: c;
  }
  .gallery__picture3 {
    grid-area: d;
  }
  .product-description {
    grid-area: e;
  }
  .product-characteristics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .product-characteristics .product-characteristics__article {
    aspect-ratio: 1;
    align-items: start;
    text-align: left;
  }
  .product-characteristics .product-characteristics__article__text {
    max-width: 31ch;
  }
}
@media (min-width: 1024px) {
  .nav {
    max-width: 80%;
    margin: 1.5rem auto;
  }
  main {
    max-width: 80%;
    margin: 0 auto;
  }
  .grid-wrapper {
    display: grid;
    grid-template-areas: "a a b b" "c d d e";
    gap: 1rem;
  }
  .hero {
    grid-area: a;
  }
  .gallery__picture1 {
    grid-area: b;
  }
  .gallery__picture2 {
    grid-area: c;
  }
  .gallery__picture3 {
    grid-area: d;
  }
  .product-description {
    grid-area: e;
  }
  .product-characteristics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .product-characteristics .product-characteristics__article {
    aspect-ratio: 1;
    align-items: start;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
