*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
*/
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #162542;
}

body {
  background-color: #fff;
  color: #7b8bad;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
}

.pre-order-btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 0.9rem 1rem;
  border-radius: 10px;
}

.decoration-rectangle {
  display: none;
}

.decoration-rectangle2 {
  display: none;
}

.nav {
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.nav__ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__btn {
  color: #162542;
  background-color: #e8eff2;
}

.nav__btn:hover,
.nav__btn:focus {
  background-color: #162542;
  color: #fff;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: "a a a" "b b b" "c d d" "e e e";
  gap: 1.5rem;
  overflow: hidden;
}

.hero {
  grid-area: a;
}

.gallery__picture1 {
  grid-area: b;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(1.5rem);
}

.gallery__picture2 {
  grid-area: c;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-1.5rem);
  display: flex;
  position: relative;
}

.gallery__picture2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.gallery__picture2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f16718;
  z-index: -1;
  border-radius: 20px;
}

.gallery__picture3 {
  grid-area: d;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-1.5rem);
}

.product-description {
  grid-area: e;
}

.hero {
  margin: 3.375rem 1.5rem 3.125rem 1.5rem;
}

.hero__heading {
  text-transform: uppercase;
  font-weight: 900;
}

.hero__main-text {
  margin: 2rem 0;
  max-width: 45ch;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero__btn {
  color: #fff;
  background-color: #f16718;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #ff9b62;
}

.hero__release-date {
  font-weight: 700;
  text-transform: uppercase;
}

.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4.6875rem 1.5rem 6.875rem 1.5rem;
  gap: 1.5rem;
}

.product-description__heading {
  text-transform: uppercase;
  font-weight: 900;
  max-width: 15ch;
}

.product-characteristics__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem 1.5rem;
}

.product-characteristics__article__icon {
  background-color: #f16718;
  width: 4.0625rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.product-characteristics__article__heading {
  margin: 3rem 0 1.5rem 0;
  text-transform: uppercase;
  font-weight: 900;
}

.product-characteristics__article__text {
  max-width: 50ch;
}

footer {
  margin-bottom: 3.125rem;
}

footer > p {
  text-align: center;
}

@media (min-width: 768px) {
  .nav {
    margin: 2.5rem 2.5rem 3.875rem 2.5rem;
  }
  .pre-order-btn {
    padding: 1.22rem 1.67rem;
  }
  .grid-wrapper {
    display: grid;
    grid-template-areas: "a a b b" "c d d d" "e e e e";
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  .hero {
    margin: 3.875rem 0 3.75rem 2.5rem;
    grid-area: a;
    line-height: normal;
  }
  .hero .hero__main-text {
    max-width: 40ch;
    margin: 2.125rem 0 2.5rem 0;
  }
  .gallery__picture1 {
    grid-area: b;
    display: flex;
    transform: translateX(7rem);
  }
  .gallery__picture1 img {
    height: 100%;
    object-fit: cover;
  }
  .gallery__picture2 {
    grid-area: c;
    display: flex;
    margin: 2.5rem 0 0 2.5rem;
    transform: translateX(0);
    width: 100%;
  }
  .gallery__picture2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__picture3 {
    grid-area: d;
    display: flex;
    margin: 2.5rem 2.5rem 0 1.875rem;
    max-width: 84%;
    transform: translateX(1.875rem);
  }
  .gallery__picture3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-description {
    grid-area: e;
    margin: 4.5rem 2.5rem 8.875rem 2.5rem;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .product-description .product-description__main-text {
    max-width: 45ch;
  }
  .product-characteristics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 0rem 2.5rem 3.375rem 2.5rem;
  }
  .product-characteristics .product-characteristics__article {
    align-items: start;
    text-align: left;
    margin: 0 0 4.5rem 0;
  }
  .product-characteristics .product-characteristics__article__text {
    max-width: 31ch;
  }
}
@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .decoration-rectangle {
    display: block;
    position: absolute;
    top: 9.1875rem;
    right: 0;
    transform: translateX(127px);
    border-radius: 20px;
    width: 255px;
    height: 240px;
    background-color: #e8eff2;
    z-index: -1;
  }
  .decoration-rectangle2 {
    display: block;
    position: absolute;
    top: 53rem;
    left: 0;
    transform: translateX(-127px);
    border-radius: 20px;
    width: 255px;
    height: 240px;
    background-color: #e8eff2;
    z-index: -1;
  }
  .nav {
    max-width: 80%;
    margin: 1.5rem auto;
  }
  main {
    max-width: 80%;
    margin: 0 auto;
  }
  .grid-wrapper {
    display: grid;
    grid-template-areas: "a a b b" "c d d e";
    gap: 1.875rem;
    margin-top: 5.1875rem;
  }
  .hero {
    grid-area: a;
    margin-left: 0;
  }
  .hero .hero__heading {
    max-width: 15ch;
    font-size: 3.5rem;
  }
  .hero .hero__main-text {
    max-width: 48ch;
    font-size: 1.125rem;
    margin-top: 1.5rem;
  }
  .gallery__picture1 {
    grid-area: b;
    transform: translateX(1.5rem);
    max-width: 95%;
  }
  .gallery__picture2 {
    grid-area: c;
    margin: 0;
    width: 115%;
  }
  .gallery__picture3 {
    grid-area: d;
    margin: 0;
  }
  .product-description {
    grid-area: e;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .product-characteristics {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    gap: 1.875rem;
    margin: 10.5rem 0 8rem 0;
  }
  .product-characteristics .product-characteristics__article {
    align-items: start;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
