@import url(./variables.css);
/* mobile styles */
/* global styles */
body {
  font-family: "Barlow", sans-serif;
  margin: auto;
}

p {
  line-height: var(--text-line-height);
}

* {
  box-sizing: border-box;
}

header {
  margin: 1.5rem;
}

.pre-order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 9.375rem;
  height: 3rem;
  border-radius: 10px;
}

/* end of global styles */

/* nav styles */
.nav__ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__ul__li {
  display: inline;
}

.nav__btn {
  background-color: var(--nav-pre-order-btn-bg-color);
  color: var(--nav-pre-order-btn-color);
  transition: all 0.3s ease-in-out;
}

.nav__btn:is(:hover, :focus) {
  background-color: var(--nav-pre-order-btn-hover-bg-color);
  color: var(--nav-pre-order-btn-hover-color);
}

/* end of nav styles */

/* hero styles */
.hero {
  margin: 1.5rem;
  margin-bottom: 4rem;
}

.hero__heading {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--headings-color);
}

.hero__main-text {
  font-size: var(--text-font-size);
  color: var(--text-color);
  margin-bottom: 2rem;
}

.wrapper {
  display: inline-flex;
  gap: 2rem;
}

.hero__btn {
  background-color: var(--hero-pre-order-btn-bg-color);
  color: var(--hero-pre-order-btn-color);
  transition: background 0.3s ease-in-out;
}

.hero__btn:is(:hover, :focus) {
  background-color: var(--hero-pre-order-btn-hover-bg-color);
  color: var(--nav-pre-order-btn-hover-color);
}

.hero__release-date-text {
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
}

/* end of hero styles */

/* gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 50%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 100%;
  overflow: hidden;
  align-items: start;
}

.gallery__picture1 {
  grid-area: 1 / 1 / 2 / 3;
  transform: translate(1.5rem);
}

.gallery__picture2 {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
  width: 75%;
  transform: translate(-1.5rem);
}

.gallery__picture2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--elements-color);
  z-index: -1;
  border-radius: 20px;
}

.gallery__picture3 {
  grid-area: 2 / 2 / 3 / 3;
  transform: translate(-4rem);
  width: 126%;
}

.gallery img {
  display: block;
  max-width: 100%;
  border-radius: 20px;
  mix-blend-mode: multiply;
}

/* end of gallery styles */

/* product description styles */
.product-description__heading {
  font-size: var(--h2-font-size);
  font-weight: 900;
  line-height: var(--h2-line-height);
  text-align: center;
  text-transform: uppercase;
  color: var(--headings-color);
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 20%;
}

.product-description__main-text {
  font-size: var(--text-font-size);
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
  margin: 2rem;
  margin-bottom: 7rem;
}

/* end of product description styles */

/* product characteristic styles */

.product-characteristics__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-characteristics__article__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background-color: var(--elements-color);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.product-characteristics__article__heading {
  font-size: var(--h3-font-size);
  font-weight: 900;
  line-height: var(--h3-line-height);
  text-align: center;
  text-transform: uppercase;
  color: var(--headings-color);
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0.5rem;
}

.product-characteristics__article__text {
  color: var(--text-color);
  text-align: center;
  margin-inline: 1.5rem;
}

/* end of product characteristic styles */

/* footer styles */
footer {
  text-align: center;
  color: var(--text-color);
  margin-top: 5rem;
  margin-bottom: 3.5rem;
}

/* end of footer styles */

/* end of mobile styles */

/* tablet styles */
@media (min-width: 700px) {
  .product-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 2rem;
  }

  .product-description__heading {
    margin: 0;
    text-align: left;
    max-width: 10ch;
    grid-area: 1 / 1 / 2 / 2;
  }

  .product-description__main-text {
    margin: 0;
    text-align: left;
    max-width: 45ch;
    align-self: center;
    grid-area: 1 / 2 / 2 / 3;
  }

  .product-characteristics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin: 2.5rem;
  }

  .product-characteristics__article {
    display: block;
  }

  .product-characteristics__article__heading {
    text-align: left;
    margin: 1rem 0 1rem 0;
    max-width: 15ch;
  }

  .product-characteristics__article__text {
    text-align: left;
    margin: 0;
    max-width: 31ch;
  }
}
